<!DOCTYPE html>
<html>
<head>
  <title>RESERVATION CONFIRMATION</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  {{> header}}

  <div class="confirmation-box">
    <h1>Reservation Confirmation</h1>
    <p>Name: {{firstname}} {{lastname}}</p>
    <p>ID Number: {{idNum}}</p>
    <p>Roles: {{roles}}</p>
    <p>Room Number: {{roomNumber}}</p>
    <p>Timeslot: {{timeslot}}</p>
    <p>Seat Numbers: {{seatNumbers}}</p>
    
  </div>

  {{script}}
  <script defer src="/JavaScript/script.js"></script>
</body>
</html>

