<!DOCTYPE html>
<html>

<head>
  <title>USER PROFILE PAGE</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- {{> header flag=flag name=name uidNum=uidNum}} -->
  <script defer src="/JavaScript/script.js"></script>
	<div class="reservebox">
		<div class="userdetails">
		<span class="profilepic"></span>
		<span class="username"> {{firstname}} {{lastname}} <br> <span class="userlabel">{{roles}} </span> <span class="userdesc">{{profileDesc}}</span> </span>
		</div>
		
		<div class="description">
		<span class="descriptiontext">DESCRIPTION:</span>
		<form action="/profile/{{idNum}}" method="post" class="description">
			<label for="freeform"></label>
			<br>

			<textarea id="freeform" name="freeform" rows="4" cols="50"></textarea>
			<br>
			
			<input class="clean-button" onclick="alert('This should update!')" type="submit" value="Update">
		</form>
		</div>
		<div class="currentreservations">
			<span class="descriptiontext">CURRENT RESERVATIONS:</span>
			{{#if reservations}}
				{{#each reservations}}
				<table class="reservationstable">
					<tr>
					<th class="table_contents">Computer Laboratory</th>
					<th class="table_contents">Student's Name</th>
					<th class="table_contents">Seat Number</th>
					<th class="table_contents">Date of request</th>
					<th class="table_contents">Time of request</th>
					<th class="table_contents">Date of reservation</th>
					<th class="table_contents">Time of reservation</th>
					<th class="table_contents">Edit</th>
					<th class="table_contents">Remove</th>
					</tr>
					<tr data-reservation-id="{{reservationId}}">
					<td class="table_contents">{{computerLab}}</td>
					<td class="table_contents">{{studentName}}</td>
					<td class="table_contents">{{seatNumber}}</td>
					<td class="table_contents">{{dateOfRequest}}</td>
					<td class="table_contents">{{timeOfRequest}}</td>
					<td class="table_contents">{{dateOfReservation}}</td>
					<td class="table_contents">{{timeOfReservation}}</td>
					<td class="table_contents"><a href="#" onclick="edit_reservation();">Edit</a></td>
					<td class="table_contents"><a href="#" onclick="remove_reservation();">Remove</a></td>
					</tr>
				</table>
				{{/each}}
			{{else}}
				<p class="noRes_text">No reservations found</p>
			{{/if}}
		</div>
		<!-- This is the hard-coded format of the table
		<div class="currentreservations">
		<span class="descriptiontext">CURRENT RESERVATIONS:</span>
		<table class="reservationstable">
			<tr>
				<th class="table_contents">Computer Laboratory</th>
				<th class="table_contents">Student's Name</th>
				<th class="table_contents">Seat Number</th>
				<th class="table_contents">Date of request</th>
				<th class="table_contents">Time of request</th>
				<th class="table_contents">Date of reservation</th>
				<th class="table_contents">Time of reservation</th>
				<th class="table_contents">Edit</th>
				<th class="table_contents">Remove</th>
			</tr>
			<tr data-reservation-id="1">
				<td class="table_contents">Computer Lab #2</td>
				<td class="table_contents">Kian Rafael Lagado</td>
				<td class="table_contents">13</td>
				<td class="table_contents">June 23, 2023</td>
				<td class="table_contents">4:51PM</td>
				<td class="table_contents">June 25, 2023</td>
				<td class="table_contents">10:30-11:00AM</td>
				<td class="table_contents"><a href="#" onclick="edit_reservation();">Edit</a></td>
				<td class="table_contents"><a href="#" onclick="remove_reservation();">Remove</a></td>
			</tr>
			<tr data-reservation-id="2"> 
				<td class="table_contents">Computer Lab #2</td>
				<td class="table_contents">Daniel Abe</td>
				<td class="table_contents">20</td>
				<td class="table_contents">June 23, 2023</td>
				<td class="table_contents">5:43PM</td>
				<td class="table_contents">June 25, 2023</td>
				<td class="table_contents">10:30-11:00AM</td>
				<td class="table_contents"><a href="#" onclick="edit_reservation();">Edit</a></td>
				<td class="table_contents"><a href="#" onclick="remove_reservation();">Remove</a></td>
			</tr>
			<tr data-reservation-id="3">
				<td class="table_contents">Computer Lab #2</td>
				<td class="table_contents">Alfonso Karl Dionisio</td>
				<td class="table_contents">25</td>
				<td class="table_contents">June 24, 2023</td>
				<td class="table_contents">8:41PM</td>
				<td class="table_contents">June 25, 2023</td>
				<td class="table_contents">9:00-9:30AM</td>
				<td class="table_contents"><a href="#" onclick="edit_reservation();">Edit</a></td>
				<td class="table_contents"><a href="#" onclick="remove_reservation();">Remove</a></td>
			</tr>
			<tr data-reservation-id="4">
				<td class="table_contents">Computer Lab #3</td>
				<td class="table_contents">Jesca Acosta</td>
				<td class="table_contents">26</td>
				<td class="table_contents">June 28, 2023</td>
				<td class="table_contents">5:47PM</td>
				<td class="table_contents">June 29, 2023</td>
				<td class="table_contents">10:30-11:00AM</td>
				<td class="table_contents"><a href="#" onclick="edit_reservation();">Edit</a></td>
				<td class="table_contents"><a href="#" onclick="remove_reservation();">Remove</a></td>
			</tr>
			<tr data-reservation-id="5">
				<td class="table_contents">Computer Lab #3</td>
				<td class="table_contents">Alfonso Karl Dionisio</td>
				<td class="table_contents">17</td>
				<td class="table_contents">June 28, 2023</td>
				<td class="table_contents">3:02PM</td>
				<td class="table_contents">June 29, 2023</td>
				<td class="table_contents">11:00-11:30AM</td>
				<td class="table_contents"><a href="#" onclick="edit_reservation();">Edit</a></td>
				<td class="table_contents"><a href="#" onclick="remove_reservation();">Remove</a></td>
			</tr>
		</table>
		</div>
		-->
		<div class="deleteprofile"><button class="delete-button" onclick="delete_Profile()">Delete</button></div>
	</div>
	{{> header flag=flag name=name uidNum=uidNum}}
</body>

</html>
